@scope (form>header) {
    :scope {
        background-color: #efefef;
        height: 164px;
        font-size: 14px;
        min-width: max-content;

        @media print {
            display: none;
        }
    }

    div {
        display: flex;
        background-color: #fff;
        border-radius: 8px;
        padding: 8px;
        height: 108px;
        margin: 0 8px;
    }

    fieldset {
        position: relative;
        display: inline-flex;
        align-items: end;
        border: none;
        padding: 8px 8px 16px 8px;
        margin: 0;
        min-width: 64px;
        height: 100%;

        &:nth-of-type(n+2) {
            border-left: 1px solid #d1d1d1;
        }
    }

    fieldset#predefinedlist {
        display: grid;
        grid-template-columns: repeat(5, fr);

        & .row1 {
            grid-row: 1;
        }

        & .row2 {
            grid-row: 2;
        }

        & .row3 {
            grid-row: 3;
        }
    }

    input[type=week] {
        border: 1px solid black;
        border-radius: 5px;
        padding: 0 3px 0 4px;
        font-size: inherit;
        font-family: inherit;
    }

    legend {
        position: absolute;
        inset: auto 0 -4px 0;
        text-align: center;
        font-size: 12px;
    }

    menu {
        display: flex;
        padding: 0 16px;
        height: 32px;
        list-style-type: none;
        align-items: center;

        & button {
            border: none;
        }
    }


    select {
        background: none;
        border: 1px solid black;
        border-radius: 5px;
        font-size: 14px;
        height: 28px;
        line-height: 1.35;
    }

    select[name=templates] {
        width: 124px;
    }

    textarea {
        resize: none;
        height: 100%;
        width: 260px;
        font-family: inherit;
        line-height: 1.25;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid black;

        &:invalid {
            outline: 2px solid red
        }
    }
}