@scope (main) {
    article {
        display: flex;
        flex-flow: column;
        row-gap: 16px;
    }

    footer {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: end;
        flex: 1;
    }

    @media print {
        :root {
            width: 210mm;
        }

        :scope {
            display: block;
        }

        article {
            break-after: page;
            width: 210mm;
            height: 297mm;
        }
    }

    caption {
        text-align: start;
        font-weight: bold;
        padding: 2px 5px 2px 0;
    }

    table {
        width: 100%;
        /* margin: 16px 0; */
        border-spacing: 0;
    }

    td {
        padding: 4px 5px 4px 0;

        &:last-of-type {
            width: 100%;
        }
    }
}

@media print {

    body>form>header,
    thead,
    tfoot,
    body>form>table,
    footer,
    nav {
        display: none;
    }
}